html,
body {
  height: 100%; /* Set height to 100% */
  margin: 0; /* Remove default margin */
  font-family: system-ui, sans-serif;
  background-image: url("/gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fixes the background */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
